@charset "utf-8";
/* CSS Document */

/* Statti Color CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */


/* Sections About */
.section#about, .section-about i.active {
	background: #1ABC9C;
}

/* Sections Services */
.section#services, .section-services i.active {
	background: #2ECC71;
}

/* Sections Portfolio */
.section#folio, .section-folio i.active, .item .item-detail {
	background: #3498DB;
}

/* Sections Blog */
.section#blog, .section-blog i.active, #blog .item .item-detail {
	background: #E67E22;
}

/* Sections Contact */
.section#contact, .section-contact i.active {
	background: #34495E;
}
